[submodule "CMake"]
	path = CMake
	url = https://github.com/QuasarApp/CMake.git
[submodule "DoxyStyle"]
	path = DoxyStyle
	url = https://github.com/QuasarApp/DoxyStyle.git
[submodule "tests/backward-cpp"]
	path = tests/backward-cpp
	url = https://github.com/QuasarApp/backward-cpp
